<html>
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <h1>Employee Management System</h1>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <form #myForm="ngForm">
            <div class="form-group">
              <label for="Employee Id"> Employee Id </label>
              <input
                type="text"
                class="form-control"
                name="id"
                #id="ngModel"
                ngModel
                required
                pattern="[0-9]+"
              />
              <div *ngIf="id.touched">
                <div *ngIf="id.errors?.['required']">
                  <font color="red"><b>Employee Id Required</b></font>
                </div>
                <div *ngIf="id.errors?.['pattern']">
                  <font color="red"><b>Wrong input</b></font>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="Employee Name"> Employee Name </label>
              <input
                type="text"
                class="form-control"
                name="empName"
                #empName="ngModel"
                ngModel
                required
                pattern="[a-z]+"
              />
              <div *ngIf="empName.touched">
                <div *ngIf="empName.errors?.['required']">
                  <font color="red"><b>Employee Name Required</b></font>
                </div>
                <div *ngIf="empName.errors?.['pattern']">
                  <font color="red"><b>Wrong input</b></font>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="Employee Salary"> Employee Salary </label>
              <input
                type="text"
                class="form-control"
                name="empSalary"
                #empSalary="ngModel"
                ngModel
                required
                pattern="[0-9]+"
              />
              <div *ngIf="empSalary.touched">
                <div *ngIf="empSalary.errors?.['required']">
                  <font color="red"><b>Employee salary Required</b></font>
                </div>
                <div *ngIf="id.errors?.['pattern']">
                  <font color="red"><b>Wrong input</b></font>
                </div>
              </div>
            </div>

            <button
              type="submit"
              class="btn btn-success"
              (click)="insertEmployee(myForm.value)"
            >
              Insert
            </button>
            &nbsp;&nbsp;
            <button
              class="btn btn-primary"
              (click)="updateEmployee(myForm.value)"
            >
              Update</button
            >&nbsp;&nbsp;
            <button
              class="btn btn-danger"
              (click)="deleteEmployee(myForm.value.id)"
            >
              Delete</button
            >&nbsp;&nbsp;
            <button class="btn btn-warning" (click)="findEmployee(myForm.value.id)">Find</button>
            &nbsp;&nbsp;
            <button class="btn btn-info" (click)="findallEmployee()">
              Find All
            </button>
          </form>
        </div>
        <h1>{{ result }}</h1>
        <div style="width: 100%" *ngIf="flag">
          <table width="80%" align="center" class="table table-borderd">
            <tr>
              <th>Employee Id</th>
              <th>Employee Name</th>
              <th>Employee Salary</th>
            </tr>
            <tr *ngFor="let emp of employeearr">
              <td>{{ emp.id }}</td>
              <td>{{ emp.empName }}</td>
              <td>{{ emp.empSalary }}</td>
            </tr>
          </table>
        </div>
        <div style="width: 100%" *ngIf="single">
          <table width="80%" align="center" class="table table-borderd">
            <tr>
              <th>Employee Id</th>
              <th>Employee Name</th>
              <th>Employee Salary</th>
            </tr>
            <tr>
              <td>{{ employee.id }}</td>
              <td>{{ employee.empName }}</td>
              <td>{{ employee.empSalary }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
