<div
  style="
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #121212;
    border-radius: 10px;
  "
>
  <div style="margin-left: 20px">
    <div>
      <img
        style="width: 100px; height: 30px"
        src="https://www.freepnglogos.com/uploads/spotify-logo-png/spotify-logo-horizontal-white-20.png"
        alt="logo"
      />
    </div>

    <div
      style="width: 80px; height: 50px; display: flex; align-content: center"
    >
      <svg
        style="width: 20px; margin-right: 15px"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 576 512"
        center
      >
        <path
          fill="#ffffff"
          d="M575.8 255.5c0 18-15 32.1-32 32.1l-32 0 .7 160.2c0 2.7-.2 5.4-.5 8.1l0 16.2c0 22.1-17.9 40-40 40l-16 0c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1L416 512l-24 0c-22.1 0-40-17.9-40-40l0-24 0-64c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32 14.3-32 32l0 64 0 24c0 22.1-17.9 40-40 40l-24 0-31.9 0c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2l-16 0c-22.1 0-40-17.9-40-40l0-112c0-.9 0-1.9 .1-2.8l0-69.7-32 0c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"
        />
      </svg>
      <p
        routerLink=""
        style="
          cursor: pointer;
          color: white;
          font-size: large;
          font-weight: 900;
        "
      >
        Home
      </p>
    </div>

    <div
      style="width: 80px; height: 50px; display: flex; align-content: center"
    >
      <svg
        style="width: 20px; margin-right: 15px"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
      >
        <path
          fill="#ffffff"
          d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"
        />
      </svg>
      <p
        routerLink="/add"
        style="
          cursor: pointer;
          color: white;
          font-size: large;
          font-weight: 900;
        "
      >
        Add
      </p>
    </div>
    <div
      style="width: 80px; height: 50px; display: flex; align-content: center"
    >
      <svg
        style="width: 20px; margin-right: 15px"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
      >
        <path
          fill="#ffffff"
          d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
        />
      </svg>
      <p routerLink="/find" style="color: white; font-size: large; font-weight: 900">Find</p>
    </div>
  </div>
</div>
<div
  style="
    margin-top: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: strat;
    background-color: #121212;
    border-radius: 10px;
  "
>
  <div
    style="
      background-color: #1f1f1f;
      padding: 1rem;
      border-radius: 10px;
      margin-top: 1rem;
    "
  >
    <p style="font-size: large; font-weight: 900">Create your first playlist</p>
    <p>It's easy we'll help you</p>
    <button
      style="
        padding: 0.8rem;
        border-radius: 28px;
        background-color: white;
        font-weight: 900;
      "
    >
      create playlist
    </button>
  </div>
</div>
